
<head>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
      <header class="main-header">
        <h1>Booking Appointment App</h1>
      </header>
            <main>
                <h1>Page Not Found</h1>
            </main>